# Auto detect text files and perform LF normalization
* text=auto
AAD/Projetos_Guioes/** linguist-vendored
AAD/Assignment1/** linguist-vendored
SD/Prática/genclass_doc/** linguist-vendored
SD/Prática/examples/threadBasics/** linguist-vendored
SD/Prática/examples/threadSynchronization/** linguist-vendored
EGS/Projeto/social-api/tests/*.ipynb linguist-vendored
SRC/Prática/projeto2/scripts/*.ipynb linguist-vendored
RSA/Projeto/*.ipynb linguist-vendored
