.title {
  text-align: center;
  padding: 20px 0;
  background: -webkit-linear-gradient(45deg, #fa7e1e 40%, #d62976 50%, #962fbf 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.title h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
  
@media (max-width: 768px) {
  .title h1 {
    font-size: 2.5em;
  }
}
